/.idea/

# Eclipse Project Files

.classpath
.project
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

#vscode java
.vscode
.factorypath
**/**/.factorypath

# java class
target/**
**/*.class

# log
logs